/*
 * Layout
 */
 .carousel-caption {
	 margin-bottom: 24vh;
 }
 footer {
	 margin-top: 10vh;
 }
/* 
 * Look
 */
 .navbar-inverse {
 	background-color: rgba(256,256,256,0.5);
 	border-color: rgba(256,256,256,0.5);
 }
.logo {
	border: 10px #fff solid;
	box-shadow: 1px 1px 0px #fff, 2px 2px 0px #fff,  3px 3px 0px #fff,  4px 4px 0px #fff,  5px 5px 0px #fff,  6px 6px 0px #fff,  7px 7px 0px #fff,  8px 8px 0px #fff;
	color: #fff;
	font: 700 4vw/1em Helvetica, sans-serif;
	padding: 3vh 3vw 3vh 3vw;
	text-align: center;
	text-transform: uppercase;
}
